<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cuentasPorPagar.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="cuentasPorPagar.My.MySettings.csProduction" connectionString="Data Source=SERVER-RAID2;Initial Catalog=Production;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2015"
            providerName="System.Data.SqlClient" />
        <add name="cuentasPorPagar.My.MySettings.SeguridadNvaConnectionString"
            connectionString="Data Source=server-raid2;Initial Catalog=SeguridadNva;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2015"
            providerName="System.Data.SqlClient" />
        <add name="cuentasPorPagar.My.MySettings.csContpaqFinagil" connectionString="Data Source=compaq01\compac;Initial Catalog=ctFINAGILCONEFINAGIL2015;Persist Security Info=True;User ID=finagil;Password=finagil"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <cuentasPorPagar.My.MySettings>
            <setting name="nas" serializeAs="String">
                <value>\\server</value>
            </setting>
        </cuentasPorPagar.My.MySettings>
    </userSettings>
</configuration>