<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cuentasPorPagar.My.MySettings.csProduction" connectionString="Data Source=SERVER-RAID2;Initial Catalog=Production;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2015"
            providerName="System.Data.SqlClient" />
        <add name="cuentasPorPagar.My.MySettings.SeguridadNvaConnectionString"
            connectionString="Data Source=server-raid2;Initial Catalog=SeguridadNva;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>